@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gold: #d5a310;
  --color-gold-hover: #C09215;
  --color-gold-light: #E8B82A;

  --color-cream: #f1f0eb;
  --color-cream-dark: #E0D9CF;

  --color-brown-dark: #292113;

  --color-dark: #040304;
  --color-dark-card: #1A1A1A;
  --color-dark-border: #2c2c2c;
  --color-dark-surface: #111111;

  --font-inter: "Inter", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-cream text-gray-900 font-inter transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-oswald uppercase tracking-wide;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cream dark:bg-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 dark:bg-dark-border;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gold;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 3px rgba(212, 158, 23, 0.508);
    color: transparent;
  }

  .dark .text-stroke {
    -webkit-text-stroke: 3px rgba(212, 158, 23, 0.458);
  }
}
